.app.light {
  background-color: white;
  color: black;
}

.app.dark {
  background-color: #121212;
  color: white;
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}


/* App.css or Header.css */

.app.dark .navbar {
  background-color: #121212; /* optional for better contrast */
}

.app.dark .navbar .nav-link,
.app.dark .navbar .navbar-brand {
  color: white !important;
}

.app.dark .navbar .nav-link:hover {
  color: #ffc107 !important; /* Optional: highlight color on hover */
}
